body{
    position: relative;
}
.wrapper{
    min-height: 100vh;
}

#angry-face,#no-care-face,#fun-face{
    cursor: pointer;
    width: 60px;
    height: 60px;
}

#weather-badge{
    position: absolute;
    top: 0;
    left: 0;
}

#temperature{
    font-size: 1.5em;
}



.blob{
    position: absolute;
    top: -15%;
    z-index: -1

}

#shape-2{
    display: none;
}

@import "../../node_modules/bootstrap/scss/bootstrap";